$primary-color: #ffffff;
$secondary-color: #48a770;
$tertiary-color: #000000;
$background-color: #383838;
$disabled-secondary: #a5b0aa;
:export {
    primarycolor: $primary-color;
    secondarycolor: $secondary-color;
    disabledsecondary: $disabled-secondary;
    tertiarycolor: $tertiary-color;
    backgroundcolor: $background-color;
  }